# MIS 497 Assignment {{.Title}}
This assignment must be submitted through **GitHub**. The template should be cloned onto your local machine using Git. 90% of the grade will come from the code itself, the last 10% from properly naming and submitting.

{{ range $key, $r := .Requirements }}
  * {{$r.Prompt}}
{{end}}


It is best to take this little pieces at a time, step by step, as not to get confused by too many things at once. [W3 Schools](https://www.w3schools.com/html/) is an amazing resource, and has examples on everything above if you get stuck. 

