{
  "title": "",
  "due_date": "",
  "gen-description": "",
  "requirements": [
    {"element": "", "id": "", "type": "", "points": "", "prompt": ""}
  ]
  "proj-description": "",
  "resources": ""
}
