{
  "title": "",
  "Due Date": "",
  "gen-description": "",
  "requirements": [
    {"element": "", "id": "", "type": "select", "points": "", "string": ""}
  ]
  "proj-description": "",
  "resources": ""
}
